<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let server of servers" [ngClass]="getStatusClasses(server)">
            <span class="badge">{{ server.status }}</span>
            <strong>{{ server.name }}</strong> | {{ server.instanceType }} | {{ server.started }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>